/*
 Table Of Contents
 1.) Eric Meyer's Reset
 2.) Global Typography
	 2.0.1) Font Face
	 2.0.2) Global Headings
	 2.0.3) Form Elements
	 2.0.4) List styles
	 2.0.5) General Text Formatting
	 2.0.6) Link elements
	 2.0.7) Table Elements
	 2.0.8) Button Styles
	 2.0.9) Sprite Icons
 3.) Site Wide Content
 4.) Header Style
 5.) Footer Style
 ===============================================*/

/*
 1.) Eric Meyer's Reset
 ----------------------------------------*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 1.) Global Typography
 ----------------------------------------*/
*, :before, :after{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}
body {
	 font-family:$primary-fontfamily;
	  @include fontsize(14px);
    line-height:1.2;
    font-weight:$fw-regular;   
}
@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
        url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Harmonia Sans Pro Cyr Semi Bd';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
        url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
        url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*
 2.0.2) Global Headings
 -----------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #161e21;
}
h1 {
  margin-bottom: 15px;
  @include fontsize(16px);
  font-weight:$fw-bold;
  color:$blue;
  text-transform: uppercase;
}
h2 {
  font-weight: $fw-bold;
  margin-bottom: 23px;
  text-transform: uppercase;
  font-family: $secondary-font;
  @include fontsize(16px);
}
h3 {
  font-weight: $fw-bold;
  margin-bottom: 30px;
  text-transform: capitalize;  
}
h4 {
  font-weight: $fw-bold;
  margin-bottom: 30px;
}
h5 {
  font-weight: $fw-bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: $primary-fontfamily;
  @include fontsize(12px);
  color:$blue;
}
h6 {
  font-weight: $fw-bold;
  margin-bottom: 30px;
}
/*
 2.0.3) Form Elements
 -----------------------------*/
button, input, optgroup, select, textarea {
	margin: 0;
	padding: 0;
	font-size: 100%;
	color: inherit;
	background: #fff;
	border: 1px solid #ccc;
	font-family: 'Open Sans', sans-serif;
}
input,select,textarea{
	-webkit-appearance: none;
	-webkit-appearance: none;
	border-radius:0;
}
input {
	line-height: normal;
}
input:focus, select:focus, textarea:focus, button:focus {
	border:none;
	outline: 0;
}
input[type="checkbox"], input[type="radio"] {
	padding: 0;
	border: none;
}
button, input[type="button"], input[type="reset"], input[type="submit"], input[type="file"] {
	-webkit-appearance: none;
	cursor: pointer;
	line-height: normal;
	overflow: visible;
}
button[disabled], input[disabled] {
	cursor: default;
	color: #999;
	border-color: #ccc;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/*
 2.0.4) List Styles
 ---------------------------------*/
ul, ol, dl {
	font-size: 100%;
	line-height: 1.5;
}
li, dt {
	line-height: 1.5em;
}
dl {
	margin: 0 0 1em 0;
}
dd {
	margin: 0 0 1em 0.8em;
}
ul {
	list-style-type: none;
	margin: 0 0 0 0;
}
ol {
	list-style-type: decimal;
	margin: 0 0 1em 0;
}
ul ul, ol ul {
	list-style-type: circle;
	margin-top: 0;
}
ol ol {
	list-style-type: lower-latin;
	margin-top: 0;
}

/*
 2.0.5) General Text Formatting
 -----------------------------------*/
p {
	color:$blue;
	@include fontsize(14px);
	line-height: 1.5;
	font-family: $primary-fontfamily;
}
blockquote, cite, q, var, dfn {
	font-style: italic;
}
blockquote {
	background: transparent;
	color: #666666;
}
small {
	 font-size: 12px; 
	line-height: 1.75;
}
pre, code, kbd, tt, samp, var {
	font-size: 100%;
}
pre {
	font-size: 100%;
	line-height: 1.5;
	margin: 0 0 10px 0;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
pre, code {
	color: #880000;
}
kbd, samp, var {
	color: #666666;
	font-weight: bold;
}
acronym, abbr {
	border-bottom: 1px #aaa dotted;
	font-variant: small-caps;
	cursor: help;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img{
	max-width: 100%;
	height: auto;
}
a,strong,span,img{
  display: inline-block;
}
body img {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;          
}
select::-ms-expand {
    display: none;
}

select::-ms-expand {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Good browsers  */
    opacity: 0;
}
/*
 Link style
 -------------------------*/
a {
    color: initial;
    text-decoration:none;
	@include fontsize(12px);
    &:focus, &:hover {
        color: initial;
        text-decoration: none;
        outline: none;
    }
}

/*
 Button Styles
 -------------------------*/
.btn, input.btn, button.btn {
	display: inline-block;
	@include fontsize(12px);
	color:$white;
	line-height: normal;
	vertical-align: middle;
	padding: 8px 15px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	border: 1px solid transparent;
	background:$red-primary;
	text-transform: uppercase;
	@include radius(15px);
	transition: all 0.5s;
}
.btn:hover, .btn:focus , input.btn:hover, input.btn:focus, button.btn:hover, button.btn:focus{
	background-color: transparent;
	border: 1px solid $red-primary;
	color:$red-primary
}
button{
	border:none;
}
/*
 Sprite Icons
 -------------------------*/
[class^="icon-"], [class*="icon-"] {
	background-image: url(../images/sprite.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	margin-top: 1px;
	vertical-align: text-top;
	width: 14px;
}
/* Containers
----------------------------------------------------------------------------------------------------*/
.container{
  max-width:1270px;
  width:100%;
  margin:0 auto; 
  padding:0 15px;
}







/** pixel perfection code remove this on update **/
body{
	// background: url("../bg/background.png") center top no-repeat;
}
.wrapper{
	// opacity: 0.4;
	height: 10000px;
}