/*
 Font-family
 -------------------------*/
$primary-fontfamily: 'Harmonia Sans Pro Cyr';
$secondary-font :'Harmonia Sans Pro Cyr Semi Bd';

/*
 Font-color
 -------------------------*/
$white:#ffffff;
$black:#000000;
$blue-primary:#2a2e46;
$gray-primary:#efe7e7;
$red-primary:#fc202c;
$white-primary:#e8e9eb;
$white-secondary:#e9eaec;
$gray-secondary:#585c6e;
$red:#fc202c;
$gray:#d4d5da;
$blue-secondary:#4e5266;
$blue:#21263f;
$off-white:#f2f2f2;

/*
 Font-weight
 -------------------------*/
$fw-light:300;
$fw-regular:400;
$fw-medium:500;
$fw-semibold:600;
$fw-bold:700;

/*
 Background color
 -------------------------*/

/*
 Border-color
 -------------------------*/

/*
 Alignment
 -------------------------*/
$align-center:center;
$align-left:left;